<div class="home">
    <app-header></app-header>
    <div>
        <button (click)="decreaseFontSize()">-</button>
        <app-title-page>
            <span [ngStyle]="{'font-size': fontSize + 'px'}">Visão Geral</span>
        </app-title-page>
        <button (click)="increaseFontSize()">+</button>
    </div>
    <!--SEÇÃO: Resultados Great Place To Work-->

    <app-title-section>Resultados Great Place To Work</app-title-section>
    <app-section-four>
        <div component-one-content>
            <!--Componente: Respondentes-->
            <app-kpi-response [percentage]="respondentPercentage">
                <div title-chart>
                    Quantidade de respostas              
                </div>
                <div component-one-content>
                    <h5> de <span>13 187</span> colaboradores no Brasil </h5>
                </div>
            </app-kpi-response>
        </div>
        <div component-two-content>
            <!--Componente: Nota média das dimensões-->
            <app-kpi-note [score]="scoreGPTW" [changePercent]="changePercentMonth">
                <div title-chart>
                    Nota média das dimensões               
                </div>
                <div subtitle-kpi>
                    Comparado ao ano passado
                </div>                  
            </app-kpi-note>           
        </div>
        <div component-three-content>
            <!--Componente: Nota média das práticas culturais-->
            <app-kpi-culture></app-kpi-culture>
        </div>
        <div component-four-content>
            <!--Componente: Employer Net Promoter (eNPS)-->
            <app-enps-score>
            </app-enps-score>
        </div>
    </app-section-four>

    <!--SEÇÃO: Resultados Stiba-->

    <app-title-section>Resultados Stiba</app-title-section>
    <app-section-two>
        <div component-one-content>
            <!--Tabela: 5 questões com notas mais altas - Stiba-->
            <app-table [dataSource]="topFiveQuestions" [displayedColumns]="['position', 'name', 'weight']">
                <div title-chart>
                    5 questões com notas mais altas - Stiba
                </div>
                <div title-one-column>
                    #
                </div>
                <div title-two-column>
                    Pergunta
                </div>
                <div title-three-column>
                    Nota
                </div>
            </app-table>
        </div>
        <div component-two-content>
            <!--Tabela: 5 questões com notas mais baixas - Stiba-->
            <app-table [dataSource]="bottomFiveQuestions" [displayedColumns]="['position', 'name', 'weight']">
                <div title-chart>
                    5 questões com notas mais baixas - Stiba
                </div>
                <div title-one-column>
                    #
                </div>
                <div title-two-column>
                    Pergunta
                </div>
                <div title-three-column>
                    Nota
                </div>
            </app-table>
        </div>
    </app-section-two>

    <!--SEÇÃO: Monitoramento da área-->

    <app-title-section>Monitoramento da área</app-title-section>
    <app-section-two>
        <div component-one-content>
            <!--Gráfico: Quantidade de atestados por mês-->
            <app-line-chart [categoriesLine]="categoriesAggregateDdays" [seriesDataLine]="seriesDataAggregateDdays">
                <div title-chart>
                    Quantidade de atestados por mês
                </div>
            </app-line-chart>
        </div>
        <div component-two-content>
            <!--Gráfico: Média de dias abonados por mês-->
            <app-column-chart [categories]="categoriesMonthlyAveragesDays" [seriesData]="seriesMonthlyAveragesDays">
                <div title-chart>
                    Média de dias abonados por mês
                </div>
            </app-column-chart>
        </div>
    </app-section-two>

    <app-section-three>
        <div component-one-content>
            <!--Tabela: 5 principais doenças e problemas da área-->
            <app-table [dataSource]="diseaseTop" [displayedColumns]="['position', 'name', 'weight']">
                <div title-chart>
                    5 principais doenças e problemas da área
                </div>
                <div title-one-column>
                    #
                </div>
                <div title-two-column>
                    Doença/Problema
                </div>
                <div title-three-column>
                    Quantidade
                </div>
            </app-table>
        </div>
        <div component-two-content>
            <!--Tabela: 5 principais causas das doenças e problemas-->
            <app-table [dataSource]="diseasesCauses" [displayedColumns]="['position', 'name', 'weight', 'weight2']">
                <div title-chart>
                    5 principais causas das doenças e problemas
                </div>
                <div title-one-column>
                    #
                </div>
                <div title-two-column>
                    Causa
                </div>
                <div title-three-column>
                    Doença/Problema
                </div>
                <div title-four-column>
                    Quantidade
                </div>
            </app-table>
        </div>
        <div component-three-content>
            <!--Gráfico: 5 principais cargos afetados-->
            <div title-chart>
                5 principais cargos afetados
            </div>
            <app-column-chart [categories]="categories" [seriesData]="seriesData"></app-column-chart>
        </div>
    </app-section-three>
</div>
